#### Part 1
In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

Context
Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data anova_lab_data.xlsx file in the files_for_lab folder

State the null hypothesis
State the alternate hypothesis
What is the significance level
What are the degrees of freedom of model, error terms, and total DoF
Data was collected randomly and provided to you in the table as shown: link to the image - Data

#### Part 2
In this section, use Python to conduct ANOVA.
What conclusions can you draw from the experiment and why?

In [26]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [11]:
df_original = pd.read_excel(r'C:\Users\aidag\OneDrive\Escritorio\ironhack\lab-inferential-statistics-anova\files_for_lab\anova_lab_data.xlsx')
df_copy = df_original.copy()
df_copy.head(10)

  Power   Etching Rate
0  160 W          5.43
1  180 W          6.24
2  200 W          8.79
3  160 W          5.71
4  180 W          6.71
5  200 W          9.20
6  160 W          6.22
7  180 W          5.98
8  200 W          7.90
9  160 W          6.01

In [12]:
df_copy.columns

Index(['Power ', 'Etching Rate'], dtype='object')

In [13]:
df_copy.columns = ['Power', 'Etching Rate']

In [14]:
df_copy.dtypes

Power            object
Etching Rate    float64
dtype: object

In [15]:
df_copy['Power'] = df_copy['Power'].str.replace(r'\D', '', regex=True)  #(\D) = no numeric

df_copy['Power'] = pd.to_numeric(df_copy['Power'], errors='coerce')

print(df_copy.dtypes)

Power             int64
Etching Rate    float64
dtype: object

In [29]:
df_copy.rename(columns={'Etching Rate': 'EtchingRate'}, inplace=True)

In [16]:
df_copy.describe()

            Power  Etching Rate
count   15.000000     15.000000
mean   180.000000      6.782667
std     16.903085      1.228643
min    160.000000      5.430000
25%    160.000000      5.845000
50%    180.000000      6.240000
75%    200.000000      7.725000
max    200.000000      9.200000

In [18]:
print("""
STEP 1- Define the null hypothesis (H0): μ = 1.228643
STEP 2- Define the alternate hypotesis: Ha): μ != 1.228643
STEP 3- Level of significance: a = 0.05
STEP 4- Test statistic
STEP 5- P-value
STEP 6- F-Table
""")

STEP 1- Define the null hypothesis (H0): μ = 1.228643
STEP 2- Define the alternate hypotesis: Ha): μ != 1.228643
STEP 3- Level of significance: a = 0.05
STEP 4- Test statistic
STEP 5- P-value
STEP 6- F-Table

In [23]:
df_copy.groupby('Power').agg(np.mean)

       Etching Rate
Power
160           5.792
180           6.238
200           8.318

In [24]:
print('Seems that 200 power has the best etching rate')

Seems that 200 power has the best etching rate

In [32]:
df_copy.dropna(subset=['EtchingRate', 'Power'], inplace=True)

In [34]:
df_model = ols('EtchingRate ~ C(Power)', data=df_copy).fit()  
anova_result = sm.stats.anova_lm(df_model)
print(anova_result)

            df     sum_sq   mean_sq          F    PR(>F)
C(Power)   2.0  18.176653  9.088327  36.878955  0.000008
Residual  12.0   2.957240  0.246437        NaN       NaN

In [36]:
print("Speed mean value is p value as 0.000008.")
print("Degrees of freedom = 2")
print("Significancy level = 0.05")
print("Error terms and total degrees of freedom: 2 + 12 =", 14)

Speed mean value is p value as 0.000008.
Degrees of freedom = 2
Significancy level = 0.05
Error terms and total degrees of freedom: 2 + 12 = 14

In [39]:
print("p value is extremely low value (0.000008), an evidency that we can reject null hypotesis, so we can say that increasing the power to 200 obtains better because the speedresults")

p value is extremely low value (0.000008), an evidency that we can reject null hypotesis, so we can say that increasing the power to 200 obtains better because the speedresults

In [38]:
df_copy.pivot(columns='Power').describe()

      EtchingRate
Power         160       180       200
count    5.000000  5.000000  5.000000
mean     5.792000  6.238000  8.318000
std      0.319875  0.434304  0.669604
min      5.430000  5.660000  7.550000
25%      5.590000  5.980000  7.900000
50%      5.710000  6.240000  8.150000
75%      6.010000  6.600000  8.790000
max      6.220000  6.710000  9.200000